@page
@model SEP490_SU25_G90.Pages.Admins.MotobikeCourse.ListModel

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].ActiveStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].LicenceType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceType.LicenceTypeId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
