@page "/AcademicAffairs/TestApplication/{id:int}"
@model SEP490_SU25_G90.Pages.AcademicAffairs.TestApplication.TestApplicationDetailModel

@{
    Layout = "_AcademicAffairsLayout";
    ViewData["Title"] = "Chi tiết hồ sơ thi";
}

<div class="container mt-4 d-flex flex-column">
    <h3 class="text-center">Chi tiết hồ sơ thi</h3>

    <div class="border p-3 mb-4">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="~/images/avatar_placeholder.png" alt="Avatar" class="img-fluid rounded-circle mb-2" style="width: 100px; height: 100px;">
                    </div>
                    <div class="col-md-6">

                        <h3>@Model.RequestModel.FullName</h3>
                        <div><i class="bi bi-calendar"></i> Sinh ngày: <strong>@Model.RequestModel.DateOfBirth</strong></div>
                        <div><i class="bi bi-person-badge"></i> CCCD: <strong>@Model.RequestModel.CCCD</strong></div>
                    </div>
                </div>

            </div>
            <div class="col-md-6 border-start">
                <div><i class="bi bi-envelope"></i> Email: <strong>@Model.RequestModel.Email</strong></div>
                <div><i class="bi bi-telephone"></i> SĐT: <strong>@Model.RequestModel.Phone</strong></div>
                <div><i class="bi bi-gender-male"></i> Giới tính: <strong>@Model.RequestModel.Gender</strong></div>
                <div><i class="bi bi-geo-alt"></i> Địa chỉ: <strong>@Model.RequestModel.Address</strong></div>
                <div><i class="bi bi-card-text"></i> Thi bằng: <strong>@Model.RequestModel.LicenseType</strong></div>
            </div>
        </div>
    </div>

    <div class="border p-3">
        <div class="d-flex w-100 justify-content-between mb-3">
            <h5 class="">
                Kết quả thi:
                @if (Model.RequestModel.Status == null)
                {
                    <span class="text-info">Chưa thi</span>
                }
                else if (Model.RequestModel.Status == true)
                {
                    <span class="text-success">Đạt</span>
                }
                else
                {
                    <span class="text-danger">Không đạt</span>
                }

            </h5>
            <a class="btn btn-primary" href="/AcademicAffairs/TestApplication/@Model.Id/Update">Cập nhật</a>
        </div>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="w-25">
                        Ngày nộp hồ sơ thi
                    </td>
                    <td>@Model.RequestModel.SubmitProfileDate?.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td class="w-25">
                        Ngày thi
                    </td>
                    <td>@Model.RequestModel.ExamDate?.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td class="w-25">
                        Số điểm lý thuyết
                    </td>
                    <td>
                        @if (Model.RequestModel.Status != null)
                        {
                            <span>
                                @Model.RequestModel.TheoryScore
                                / @Model.TestScoreStandards.FirstOrDefault(x => x.PartName == "Theory")?.MaxScore
                            </span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="w-25">
                        Số điểm mô phỏng
                    </td>
                    <td>
                        @if (Model.RequestModel.Status != null)
                        {
                            <span>
                                @Model.RequestModel.SimulationScore / @Model.TestScoreStandards.FirstOrDefault(x => x.PartName == "Simulation")?.MaxScore
                            </span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="w-25">
                        Số điểm sa hình
                    </td>
                    <td>
                        @if (Model.RequestModel.Status != null)

                        {
                            <span>@Model.RequestModel.ObstacleScore / @Model.TestScoreStandards.FirstOrDefault(x => x.PartName == "Obstacle")?.MaxScore</span>
                        }
                    </td>


                </tr>
                <tr>
                    <td class="w-25">
                        Số điểm đường trường
                    </td>
                    <td>
                        @if (Model.RequestModel.Status != null)
                        {
                            <span>
                                @Model.RequestModel.PracticalScore / @Model.TestScoreStandards.FirstOrDefault(x => x.PartName == "Practical")?.MaxScore
                            </span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="w-25">
                        Tài liệu đính kèm
                    </td>
                    <td>
                        @if (Model.RequestModel.Status != null)
                        {
                            <div class="bg-light p-3 border text-center" style="width: 150px;">
                                <img src="@Model.RequestModel.FileUrl" alt="File" class="img-fluid" />
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="w-25">
                        Ghi chú
                    </td>
                    <td>   <textarea class="form-control" id="Note" rows="3" readonly>@Model.RequestModel.Note</textarea></td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <a class="btn btn-secondary" href="/AcademicAffairs/TestApplication">Quay lại</a>
        </div>
    </div>
</div>
