@page "/Admin/Users/List"
@model SEP490_SU25_G90.Pages.Admins.User.UserListModel

@{
    ViewData["Title"] = "UserList";
}

<h1>UserList</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Họ Tên
            </th>
            <th>
                Vai Trò
            </th>
            <th>
                Tên Người Dùng
            </th>
            <th>
                Email
            </th>
            <th>
                Ngày Sinh
            </th>
            <th>
                Giới Tính
            </th>
            <th>
                SĐT
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User) {
            <tr>
                <td>
                    @(item.FirstName + " " + item.MiddleName + " " + item.LastName)
                </td>
                <td>
                    @foreach (var role in item.UserRoles)
                    {
                        @(role.Role + " ")
                    }
            </td>
            <td>@item.Username</td>
            <td>@item.Email</td>
            <td>@item.Dob</td>
            <td>@(item.Gender == true ? "Nam" : "Nữ")</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
