@page "/Admin/Users/List"
@model SEP490_SU25_G90.Pages.Admins.User.UserListModel

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Danh sách người dùng";
}

<h1>Danh sách người dùng</h1>
<br />

<form>
    <h3>Tìm kiếm</h3>
    <p>
        <label>
            <pre>Họ Tên     <input type="text" asp-for="NameSearch" /></pre>
            <pre>Email      <input type="text" asp-for="EmailSearch" ></pre>
            <pre>           <input type="submit" value="Tìm" /></pre>
        </label>
    </p>
</form>

<a asp-page="./CreateAccount">Tạo tài khoản mới</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Họ Tên
            </th>
            <th>
                Vai Trò
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.User) {
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    @foreach (var role in item.UserRoles)
                    {
                        @(role.Role.RoleName + " ")
                    }
            </td>
            <td>@item.Email</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.UserId">Chi Tiết</a> 
            </td>
        </tr>
}
    </tbody>
</table>
